body {
    margin:0;
    font-family: 'Cabin', sans-serif;
    background-color: #e2e1dd;
    color: #b4b0a2;
}

a {
    color:#474745;
    text-decoration:none;
}

img {
	max-width:100%;
}

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  

.header {
    background-color: #fff;
    text-align:center;
}

.homeLink {
    font-size:50pt;
    font-weight:700;
}

.header .dots {
    padding:25px;
    font-size:19pt;
    letter-spacing:2px
}

.nav-bar {
    text-align:center;
}

.nav-bar ul {
    margin: 5px;
    padding:0;
    list-style-type:none;
}


.featured-projects {
    max-width: 900px;
    margin: 25px auto;
}

.featured-row {
    width:100%;
}

.featured-item img {
	-webkit-box-shadow: 0px 9px 16px -16px rgba(0, 0, 0, 1);
	box-shadow: 0px 9px 16px -16px rgba(0, 0, 0, 1);
}

.divider {
    background-image: url("../img/theme/divider-desktop.png");
    margin: auto;
}

/* Media queries!
-------------------------------------------------------------------------------*/

@media all and (min-width:725px) {
    .featured-item {
        width: 25%;
        display: block;
        float: left;
        margin: 0 0%;
    }
    .featured-item:nth-child(2){
        margin: 0 12.5%;
    }

    .divider {
        width:568px;
        height:2px;
    }

    .nav-item {
        display:inline-block;
        font-size: 13pt;
    
        width: 112px;
}
    
    .nav-item.portfolio {
        font-size: 14pt;
        border-left: solid 1px;
        border-right: solid 1px;
    }
/*End MediaQ*/		
}

@media all and (max-width:724px) {
    .featured-item {
        width: 100%;
        display: block;
        float: left;
        margin: 0 0px;
        text-align:center;
    }
    .nav-item {
        display:list-item;
        font-size: 13pt;
        padding: 0 5px;
    }
    
    .nav-item.portfolio {
        font-size: 15pt;
        border:none;
    }
/*End MediaQ*/   
}

@media all and (orientation: portrait) {
		
		
/*End MediaQ*/	
}

@media all and (orientation: landscape) {
		
		
/*End MediaQ*/	
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
		
		
/*End MediaQ*/
}
