body {
    margin:0;
    font-family: 'Cabin', sans-serif;
    background-color: #e2e1dd;
    color: #b4b0a2;
}

.header {
    background-color: #fff;
    text-align:center;
}

a {
    color:#474745;
    text-decoration:none;
}

.homeLink {
    font-size:50pt;
    font-weight:700;
}

.header .dots {
    padding:25px;
    font-size:20pt;
    letter-spacing:2px
}

.nav-bar {
    text-align:center;
}

.nav-bar ul {
    margin: 10px;
    padding:0;
    list-style-type:none;
}

.nav-bar li.nav-item {
    display:inline-block
}