---
layout: default
---

<div class="featured-projects">
{% for post in paginator.posts %}
    {% if post.featured %}
        {% cycle 'add rows': '<div class="featured-row clearfix">', nil, nil %}
            <div class="featured-item">
                <a href="{{ post.url }}"><div class="featured-image" style="background-image:url('/img/thumbnails/{% if post.thumbnail %}{{ post.thumbnail}}{% else %}placekitten.jpg{% endif %}')"></div></a>
                <h3>{{post.title}}</h3>
                <p>{{post.blurb}}</p>
            </div>
        {% cycle 'close rows': nil, nil, "</div>" %}
        {% assign result = forloop.index | divided_by: forloop.length %}
    {% endif %}
{% endfor %}
{% if result == 1 %}
    </div>
{% endif %}
</div>