<div class="sidebar">
    <ul class="issues">
        {% for issue in site.blogIssues %}
        {% assign issueNumber = forloop.index + 1 %}
            <li class="issue"><a class="issue-link" href="#">Issue {{ issueNumber }}</a>
                <ol class="chapters">
                    {% for post in site.posts reversed %}
                        {% if post.blog and post.issue == issueNumber %}
                            <li class="chapter"><a class="chapter-link" href="#" data-issue="{{post.issue}}" data-chapter="{{post.chapter}}">{{post.title}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </li>
        {% endfor %}
    </ul>
</div>