---
layout: default
activeNavLink: portfolio
---
<div class="portfolio-projects">
    <h2>Portfolio</h2>
    {% for post in site.posts %}
        {% if post.blog != true %}
            {% cycle 'add rows': '<div class="featured-row clearfix">', nil, nil %}
                <div class="featured thumbnail-container">
                    {% if post.inProgress %}<div class="in-progress-label"></div>{% endif %}
                    <a href="{{ post.url }}"><div class="thumbnail image" style="background-image:url('/img/thumbnails/{% if post.thumbnail %}{{ post.thumbnail}}{% else %}placekitten.jpg{% endif %}')"></div></a>
                    <h3><a href="{{ post.url }}">{{post.title}}{% if post.inProgress %} (WIP) {% endif %}</a></h3>
                    <h4>{{post.date | date: "%d/%m/%Y"}}</h4>
                    <p>{{post.blurb}}</p>
                </div>
            {% cycle 'close rows': nil, nil, "</div>" %}
            {% assign result = forloop.index | divided_by: forloop.length %}
        {% endif %}
    {% endfor %}
{% if result == 1 %}
    </div>
{% endif %}
</div>