{% include header.html%}
<div class="body clearfix">
    <div class="divider"></div>
    {% include navbar.html%}
    <div class="divider"></div>
    <div class="blog-content clearfix">
        <div class="blog-header">
            <h1>Blog</h1>
        </div>
        <div class="blog-introduction">
            <p>I run a (semi) regular superhero role-playing session (we play <a href="http://www.mutantsandmasterminds.com/" target="_blank">Mutants and Masterminds</a> by Green Ronin). After each session, I try to write up what's happened in a more creative way, both for posterity, and because it's really cool for the players to read back in more of a story-telling fashion, the decisions they've made to help the story along.</p>
        </div>
        {% include blog-sidebar.html%}
        <div class="container">
            {{ content }}
            <div class="blog-nav hidden"><a class="blog-back" href="#">&lt;&lt;BACK</a> | <a class="blog-next" href="#">NEXT&gt;&gt;</a></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    (function() {
        var blogIndex = -1,
            $backButton = $('a.blog-back'),
            $nextButton = $('a.blog-next'),
            $blogPosts = $('.blog-post'),
            $visibleBlog;

        function showBlog(index, scroll) {
            $visibleBlog = $blogPosts.eq(blogIndex);
            $blogPosts.hide();
            $visibleBlog.show();
            if(scroll) $.scrollTo($visibleBlog, 300, {axis:"y"});
            $('a.chapter-link').parent().removeClass('active').eq(blogIndex).addClass('active');
        }

        function determineBlogNavVisibility() {
            switch (blogIndex) {
                case 0:
                    $backButton.addClass('hidden');
                break;
                case $blogPosts.length - 1:
                    $nextButton.addClass('hidden');
                break;
                default:
                    if($backButton.hasClass('hidden')) {
                        $backButton.removeClass('hidden');
                    }
                    if($nextButton.hasClass('hidden')) {
                        $nextButton.removeClass('hidden');
                    }
                break;
            }
        }

        $('a.issue-link').on('click', function(event) {
            event.preventDefault();
            var $chapters = $(event.target).siblings();
            toggleItem($chapters);
        });

        $('a.chapter-link').on('click', function(event) {
            event.preventDefault();
            if(!$(event.target).parent().hasClass('active')) {
                blogIndex = $(event.target).parent().index();
                $('.blog-nav').removeClass('hidden');
                determineBlogNavVisibility();
                showBlog(blogIndex);
            }
        });

        $backButton.on('click', function(event) {
            event.preventDefault();
            blogIndex--;
            showBlog(blogIndex, true);
            determineBlogNavVisibility();
        });

        $nextButton.on('click', function(event) {
            event.preventDefault();
            blogIndex++;
            showBlog(blogIndex, true);
            determineBlogNavVisibility();
        });
    }());
</script>

{% include footer.html%}