{% include header.html%}
<div class="row-fluid">
  <div class="span4">
    {% include sidebar.html%}
  </div>
  <div class="span8">
    <h1>{{ page.title }}</h1>
    <p class="muted">{{page.date | date_to_long_string}}</p>
    <div id="links" class="span3">
        <div class="span12 projectThumbnail"><img src="/img/thumbnails/{{page.thumbnail}}"/></div>
        <div class="span12 showcaseButton"><a href="{{page.link}}" target="_blank"><div class="btn">{{page.viewProjectText}}</div></a></div>
        <div class="span12 showcaseButton"><a href="{{page.srcLink}}" target="_blank"><div class="btn">See the code</div></a></div>
    </div>
    <div id="description" class="span7">{{content}}</div>
  </div>
</div>
{% include footer.html%}